.App {
  text-align: center;
  background-color: #242335;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar {
  background-color: #01293E;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navItem {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(201, 201, 201);
  font-size: 2rem;
}

.NavLogo {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  margin: 0;
  padding: 0;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
