.App {
  text-align: center;
  background-color: #242335;
}

.App-logo {
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  flex-wrap: wrap;
  background-color: #36454F;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width:auto;
}
.company-title-one {
  font-family: Abril-Fatface, serif;
  float: left;
  text-align: center;
  font-size: 45px;
  text-decoration: none;
  text-shadow: rgb(222,144,14) 1px 0 3px ;
  color: rgb(1,41,62);
}

.company-title-two {
  padding-left: 5px;
  margin-top: 7px;
  font-family: Public-Sans-Thin, serif;
  float: left;
  text-align: center;
  font-size: 30px;
  text-shadow: rgb(255, 255, 255) 1px 0 10px;
  color: rgb(222,144,14);
}

.navitem {
  display:flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.menu {
  flex-wrap: wrap;
  display:flex;
  align-items: center;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 20pt;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

.menuli {
  margin: 0;
  padding: 0 10px;
  border-style: solid;
  border-radius: 15%;
  font-family: Public-Sans-Thin, sans-serif;
  color:rgb(222,144,14);
}

.menuli:hover {
  background-color:#36454F;
  font-size: 22pt;
}
.navlogo {
  object-fit: fill;
  width: 3%;
  float: left;
  height: auto;
  margin: 0;
  padding: 2px;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
