.App {
  text-align: center;
  background-color: #242335;
}

.App-logo {
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  flex-wrap: wrap;
  background-color: #192024;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: auto;
  border-bottom: groove rgb(222, 144, 14) 6px;
  height: 6vh fit-content;
}

.company-title-one {
  font-family: Abril-Fatface, serif;
  float: left;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  text-shadow: rgb(222, 144, 14) -1px -1px 5px;
  color: rgb(1, 41, 62);
}
.company-title-one:hover {
  text-shadow: rgb(222, 144, 14) -1px -1px 15px;
}

.company-title-two {
  padding-left: 5px;
  margin-top: 7px;
  font-family: Public-Sans-Thin, serif;
  float: left;
  text-align: center;
  font-size: 30px;
  color: rgb(222, 144, 14);
}

.navitem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  padding: 0;
  margin: 0;
}

.menu {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 20pt;
  text-decoration: none;
  list-style: none;
  justify-content: space-evenly;
}

.menuli {
  margin: 0;
  padding: 0 10px;
  font-family: Public-Sans-Thin, sans-serif;
  color: rgb(222, 144, 14);
  margin: 2px;
}

.menuli:hover {
  background-color: rgb(87, 57, 6);
  font-size: 22pt;
}

.navlogo {
  object-fit: fill;
  width: 3%;
  float: left;
  height: auto;
  margin: 0;
  padding: 2px;

}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.splash {
  background-color: #192024;
  font-family: Public-Sans-Thin, sans-serif;
  color: rgb(222, 144, 14);
  height: 93vh;
  justify-content: center;
  display:flex;
  flex-wrap: wrap;
  
}

.contentbox {
  background-color: rgb(1,41,62);
  border: solid rgb(222, 144, 14) 3px;
  height: fit-content;
  width: auto;
  margin: 2vh;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 5ch;

}



.contentbox > img {
  width: 45vh;
  border-radius: 5ch;
  margin: 8px;
  border: solid rgb(222, 144, 14) 3px;}

.contentbox > img:hover {
  background-blend-mode: soft-light;
  opacity: 45%;
}

.logo {
  object-fit: fill;
  width: 50vh;
}