body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Abril-Fatface';
  src: local('Abril'), url(./fonts/AbrilFatface-Regular.ttf) format('truetype');

  
}

@font-face {
  font-family: 'Public-Sans-Thin';
  src: local('Sans-Thin'), url(./fonts/Public-Sans-Thin.ttf) format('truetype');
}